{% extends base_template %}

  {% block stylesheets %}

      {{ parent() }}
          <link rel="stylesheet" href="{{ asset('bundles/lsoftad/css/analytics.css') }}">

  {% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">Ads Analytics Statistic</li>
{% endblock %}

{% block content %}
    <div id="auth-button"></div>
    <div id="active-users-container"></div>

    <div class="analytics-container row">
        <div class="col-sm-12">
            <section id="date-range-sessions" class="cleafix"></section>
        </div>
        <div class="col-sm-12">
            <section id="timeline-sessions"></section>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        (function(w,d,s,g,js,fjs){
            g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
            js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
            js.src='https://apis.google.com/js/platform.js';
            fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
        }(window,document   ,'script'));
    </script>
    <script src="{{ asset('bundles/lsoftad/js/ga-components/date-range-selector.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsoftad/js/ga-components/active-users.js') }}" type="text/javascript"></script>
    <script>
        'use strict';

        gapi.analytics.ready(function() {

            // Authorize the user.
            var CLIENT_ID = '{{ googleAccount }}';
            var VIEW_ID = 'ga:{{ googleView }}';

            gapi.analytics.auth.authorize({
                container: 'auth-button',
                clientid: CLIENT_ID
            });

            /*----------------------------------------------------------------------------*/

            // Real Time Users
            var activeUsers = new gapi.analytics.ext.ActiveUsers({
                container: 'active-users-container',
                pollingInterval: 5
            }).set({ ids: VIEW_ID });
            // end Real Time Users

            /*----------------------------------------------------------------------------*/

            /*-------------------Step 5: Create the timeline charts.----------------------*/

            // Chart for sessions
            var timeline_sessions = new gapi.analytics.googleCharts.DataChart({
                reportType: 'ga',
                query: {
                    'ids': VIEW_ID,
                    'dimensions': 'ga:date',
                    'metrics': 'ga:sessions',
                    'start-date': '30daysAgo',
                    'end-date': 'today'
                },
                chart: {
                    type: 'LINE',
                    container: 'timeline-sessions',
                    options: {
                        width: '100%'
                    }
                }
            });
            // end Session chart

            /*------------------------------------------------------------------*/

            // Hook up the component to work.
            gapi.analytics.auth.on('success', function() {

                // execute charts
                timeline_sessions.execute();

                // execute date-range-pickers
                dateRange_sessions.execute();

                // execute real time users
                activeUsers.execute();
            });

            /*------------------------------------------------------------------*/

            /*--------------------date-range-pickers----------------------------*/

            // date-range-pickers for Sessions
            var dateRange_sessions = new gapi.analytics.ext.DateRangeSelector({
                container: 'date-range-sessions'
            }).set({'start-date': '7daysAgo','end-date': 'today'});
            // end date-range-pickers for Session

            // event to make filter for Sessions
            dateRange_sessions.on('change', function(data) {
                timeline_sessions.set({query: data}).execute();
            });

            // end date-range-pickers

        });
    </script>

{% endblock %}