{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set count = collector.adsData|length %}
    {% set ads = collector.adsData %}
    {% set icon %}
        {% set warning = false %}
        {% for ad in ads %}
            {% if ad.ad == false and ad.zone != null and ad.domain != null %}
                {% set warning = true %}
            {% endif %}
        {% endfor %}
     {#this is the content displayed as a panel in the toolbar #}
    <span class="icon"><img src="/bundles/ad/images/ad_banner-512.png" alt="" style="width: 26px; border-radius: 8px "/></span>
    <span class="sf-toolbar-status" style="{% if warning == false %} background-color: #5e8014; color: #fff;
        {% else %} background-color: rgb(255, 204, 0); color: #000;
        {% endif %}">{{ count }}</span>
    {% endset %}
    {% set text %}
        {% spaceless %}
            {% for ad in ads %}
            <div class="sf-toolbar-info-piece">
                {% if ad.ad != false %}
                <b>{{ ad.ad.name }}</b>
                    {% else %}
                <b style="background-color:rgb(255, 204, 0);  border-radius: 4px;">Ad name is missing</b>
                {% endif %}

                <span class="sf-toolbar-status ">{{ ad.zone }}</span>
            </div>
            {% endfor %}
        {% endspaceless %}
    {% endset %}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{% block menu %}
    {% set count = collector.adsData|length %}
    {% set ads = collector.adsData %}
    {% set warning = false %}
    {% for ad in ads %}
        {% if ad.ad == false and ad.zone != null and ad.domain != null %}
            {% set warning = true %}
        {% endif %}
    {% endfor %}
    <span class="label">
        <span class="icon"><img src="/bundles/ad/images/ad_banner-512.png" alt=""
                                style="width: 30px; border-radius: 8px;"/></span>
        <strong>Ads</strong>
            <span class="count">
                <span>{{ count }}</span>
            </span>
</span>
{% endblock %}

{% block panel %}
    {% set ads = collector.adsData %}
    {% set warning = false %}
    {% for ad in ads %}
        {% if ad.ad == false and ad.zone != null and ad.domain != null %}
            {% set warning = true %}
        {% endif %}
    {% endfor %}
    <h2> ADS </h2>

    <ul class="alt">
        {% for ad in ads %}
            <li style="margin-bottom: 1px; {% if ad.ad != false %}background: #f1f7e2; {% else %} background-color: #ffcc00 {% endif %}">

            {% if ad.ad != false %}
                    <strong>{{ad.ad.name }}</strong>
            {% else %}
                <strong>Ad not found </strong>
            {% endif %},
            {% if ad.domain %}
                <strong> Ad Domain  </strong>
                    <em>{{ ad.domain }}</em>
            {% else %}
                <strong>Ad Domain </strong>
                    <em> not found</em>
            {% endif %},

            {% if ad.zone %}
                <strong> Ad Zone</strong>
                    <em>{{ ad.zone }}</em>
            {% else %}
                <strong> Ad Zone </strong>
                    <em>not found</em>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
